.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}  


header {
  background-color: darkolivegreen;
    color: white;
    border: 1px black solid;
    padding: 30px;
    width: 100%;
    text-align: center;
    font-family: Century Gothic;
}

nav {
  background-color: #ccccb3;
    color: darkolivegreen;
    padding: 30px;
    width: 90%;
    font-size: 1em;
    text-align: center;
    font-weight: 500;
    font-family: Century Gothic;
    float: none;
}

aside {
 background-color: #FFC675;
        border: 1px white solid;
    padding: 20px;
    width: 90%;
    font-family: Century Gothic;
}

article {
 background-color: #E89C6C;
        border: 1px white solid;
    padding: 20px;
    width: 90%;
}

#two_column {
 background-color: #FFFFFF;
        padding: 20px;
    font-family: Century Gothic;
    width: 92%;
}

#left {
 background-color: #999966;
        border: 1px white solid;
        padding: 20px;
        float: left;
        width: 35%;
}

#right  {
  background-color: #ffd966;
  border: 1px white solid;
  padding: 20px;
  float: right;
  width: 55%;
color: #999966;
}

img {
	max-width: 100%;
}

footer {
  background-color: #ffa64d;
    padding: 20px;
    font-family: Century Gothic;
    text-align: center;
    width: 92%;
}

div / section {
  background-color: #FFE2B8;
        border: 1px white solid;
    padding: 20px;
}

li  {
    text-align: left;
}

@media only screen and (min-width: 370px) and (max-width: 968px)
{
    #right, #left  {
        float: none;
        width: auto;
    }
}

@media only screen and (min-width: 370px) and (max-width: 768px)
{
    nav, header, footer  {
        float: none;
        width: auto;
    }
}
